/* Default CSS  Start*/
*{margin: 0;padding: 0;}
#wrapper{
    border: 5px solid rgb(243, 3, 3);
    height: auto;
}
#head{
    width: calc(100% - 10px);
    height: 100px;
    background-color: rgb(223, 221, 221);
    margin:5px 5px 0px 5px;
}
#top{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: table;
}
.top_box{
    width: calc(33.33% - 5px);
    height: auto;
    background-color: rgb(171, 169, 169);
    float: left;
    margin-right: 5px;
    padding: 15px;
    box-sizing: border-box;
}
.top_box:last-child{
    width: calc(33.33%);
    margin-right: 0px;
}
#content_area{
    width: calc(100% - 10px);
    background-color: rgb(0, 0, 0);
    height: 200px;
    margin:0px 5px 5px 5px;
}
/* Default CSS End */
@media(min-width:1200px){
  
}
@media(max-width:1199px) and (min-width:920px){
    
}
@media(max-width:919px) and (min-width:768px){
    
}
@media(max-width:767px) and (min-width:420px){
    #top{
        height: 400px;
        padding-right: 0px;
    }
    .top_box{
        width: calc(50% - 5px);
    }
    .top_box:last-child{
        width: calc(100% - 5px);
        height: calc(50% - 5px);
        margin-top: 5px;
    }
}
@media(max-width:419px){
    #top{
        height: 300px;
        padding-bottom: 0px;
    }
    .top_box{
        width: 100%;
        height: calc(33.33% - 5px);
        margin-bottom: 5px;
    }
    .top_box:last-child{
        width: 100%;
    }
}