.text_head{
    font-size: 25px;
    color: rgb(152, 11, 1);
    text-align: left;
    position: relative;
    top: -3px;
}
.para_txt{
    font-size: 30px;
    line-height: 25px;
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: 0.5px;
    font-family: Edwardian Script ITC;
    color: rgb(74, 1, 143);
}
.txt_box{
    background-color: rgb(228, 214, 214);
    border: none;
    outline: none;
    padding: 8px 10px;
    border-bottom: solid 1px rgb(107, 98, 98);
}
.txt_box:focus{
    border-bottom: solid 1px rgb(243, 4, 4);
}
.full_width{
    width: calc(100% - 20px);
}