#box1{
    background-color: red;
    /* z-index: 3; */
}
#box2{
    background-color: rgb(1, 99, 43);
    /* z-index: 2; */
    top: 50px;
    left: 50px;
}
#box3{
    background-color: rgb(8, 0, 255);
    /* z-index: 1; */
    top: 100px;
    left: 100px;
}
#box4{
    background-color: rgb(0, 247, 255);
    /* z-index: 0; */
    top: 150px;
    left: 150px;
}
.box{
    width: 200px;
    height: 200px;
    position:absolute;
}
.box:hover{
    z-index: 3;
}

